
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&family=Lobster&family=Oleo+Script+Swash+Caps&family=Open+Sans&family=Permanent+Marker&display=swap');
* {
	margin: 0;
	box-sizing: border-box;
	
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: rgba(43, 38, 38, 0.829);
	background-color: rgb(240, 225, 199);
	font-family: 'Lobster', cursive;

}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 600;
	color: rgb(20, 17, 17);
	margin-bottom: 1rem;
	font-family: 'Lobster', cursive;
}

#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: rgba(43, 40, 40, 0.075);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: rgba(0, 0, 0, 0.89);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: rgba(119, 118, 118, 0.445);
}

#new-task-submit {
	color: #0b0c0ce7;
	font-size: 1.25rem;
	font-weight: 700;
	font-family: 'Lobster', cursive;
	box-sizing: border-box;
	border-radius: 1rem;
	
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.774);
	margin-bottom: 1rem;
	font-family: 'Lobster', cursive;
	
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: rgba(43, 40, 40, 0.075);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: black;
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: rgba(0, 0, 0, 0.452);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	color: rgb(111, 68, 212);
	font-family: 'Permanent Marker', cursive;
}

.task .actions .delete {
	color: rgba(220, 20, 60, 0.836);
	font-family: 'Permanent Marker', cursive;
}